.todo {
  display: flex;
  width: 667px;
  padding: 20px 0px;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 1px solid var(--neutral-1, #e3e4e6);
  border-bottom: 1px solid var(--neutral-1, #e3e4e6);
}

.todoText {
  color: #000;
  font-family: Work Sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

.completedTodo {
  text-decoration: line-through;
  color: #000;
}

.todo.completedTodo .todoIcon,
.todo.completedTodo .checkIcon,
.todo.completedTodo .deleteIcon {
  color: rgb(201, 159, 141);
}

.checkIcon,
.deleteIcon {
  cursor: pointer;
  color: lightgrey;
  padding: 0 7px;
  font-size: 1.8rem;
  transition: transform 0.3s;
}

.checkIcon:hover,
.deleteIcon:hover {
  cursor: pointer;
  transform: scale(1.3);
}
