.FooterContainer {
  display: flex;
  border: 3px solid blue;
  height: 360px;
  padding: 80px 424px 40px 424px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

.wrapperContainer {
  border: 3px solid coral;
  display: flex;
  height: 60px;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  height: 223px;
  width: 592px;
  align-self: stretch;
  display: flex;
}

.TitleContainer {
  border: 3px solid greenyellow;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  align-self: stretch;
  padding: 0 0 60px 0;
  height: 115px;
  width: 592px;
}

.SocialMedia {
  border: 3px solid yellow;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 56px;
  align-self: stretch;
  height: 48px;
  width: 592px;
}

.Text1 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}

.Text1st {
  color: #4f4f4f;
  text-align: center;
  font-family: Work Sans;
  font-size: 56px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%; /* 84px */
  letter-spacing: -1.12px;
}

.Text12nd {
  color: #333333;
  font-family: Work Sans;
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -1.12px;
}

.Text2 {
  color: #333333;
  text-align: center;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%; /* 27px */
}

.Logo {
  width: 48px;
  height: 48px;
}
