.navbar {
  width: 1440px;
  height: 96px;
}

/* .linkContainer {
  display: inline-flex;
  padding: 10px 0px;
  align-items: flex-start;
  gap: 32px;
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  my: 5;
  color: #333333;
  display: block;
  font-weight: 'bold';
  margin: '5px';
  text-decoration: 'none';
} */
