.navigation {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 96px;
}

.svgContainer {
  width: 79.515px;
  height: 32px;
  flex-shrink: 0;
  padding: 27px 0 37px 112px;
}

.navItems {
  display: inline-flex;
  padding: 15px 112px 24px 0;
  align-items: flex-start;
  gap: 32px;
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  color: #333333;
  text-decoration: none;
  font-family: Work Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 21px */
  text-transform: uppercase;
}
