.todosActionsContainer {
  margin: 5px;
  display: flex;
  flex-direction: row;
}

.Delete,
.Reset {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  /* border-radius: 50%; */
  background-color: #d8c6c9;
  border: none;
  margin: 5px;
  /* width: 100%; */
  /* border: 3px solid red; */
  /* flex-shrink: 0; */
  /* height: 50px; */
  cursor: pointer;
  /* padding: 10px 15px; */
  /* border: none; */
}

.DeleteImg,
.ResetImg {
  width: 32px;
  height: 32px;
  /* flex-shrink: 0; */
}
