.MainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* border: 3px solid red; */
  @media (max-width: 768px) {
    /* border: 3px solid red; */
  }
  @media (max-width: 320px) {
    /* border: 3px solid blue; */
  }
}

.MainContainer2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 600px; */
  /* border: 3px solid black; */
}

.TitleContainer {
  width: 100%;
  text-align: center;
  font-size: 85px;
  line-height: 124%;
  letter-spacing: -1.7px;
  margin: 45px 0 70px 0;

  @media (max-width: 768px) {
    font-size: 40px;
    margin: 32px 0 40px 0;
  }

  @media (max-width: 320px) {
    font-size: 32px;
    margin: 18px 0 20px 0;
  }
}

.Title1st {
  color: var(--gray-1, #333);
  text-align: center;
  font-family: Work Sans;
  font-style: normal;
  font-weight: 300;
}

.Title2nd {
  background: var(--primary, linear-gradient(134deg, #bc3cd8 0%, #c54b8c 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Work Sans;
  font-style: normal;
  font-weight: 600;
}

.TodoCounterText {
  color: #000;
  font-family: Work Sans;
  font-size: 26px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;

  @media (max-width: 768px) {
    font-size: 24px;
  }

  @media (max-width: 320px) {
    font-size: 18px;
  }
}
