.todoFormContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 30px;
  width: 674px;
  height: 80px;
  border-radius: 60px;
  background: #d9d9d9;
}

.todoFormContainer input {
  all: none;
  font-family: Work Sans;
  font-size: 30px;
  background: #d9d9d9;
  padding: 10px 15px;
  border: none;
  border-radius: 60px 0 0 60px;
  width: 100%;
  outline: none;
}

.enterButton {
  width: 60px;
  height: 60px;
  cursor: pointer;
  border: none;
  background: #d9d9d9;
  border-radius: 50%;
  padding: 0px 100px 0px 0px;
}
