.todosActionsContainer {
  margin: 5px;
}

.Delete .Reset {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #d8c6c9;
  /* flex-shrink: 0; */
  /* height: 50px; */
  /* cursor: pointer; */
  /* padding: 10px 15px; */
  /* border: none; */
}

.DeleteImg .ResetImg {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
