.EdLangContainer {
  /* border: 3px solid red; */
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
  /* TODO: add padding between education and language */
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.InfoBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.NameText {
  font-family: Work Sans;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0.72px;
  text-transform: uppercase;
  background: var(--primary, linear-gradient(134deg, #bc3cd8 0%, #c54b8c 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @media (max-width: 768px) {
    /* TODO: check sizes of all titles: about me, experiences, education, language to be same size on all breakpoints */
    font-size: 32px;
  }
}

.DescriptionText {
  color: var(--gray-2, #4f4f4f);
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 19.8px */
  letter-spacing: -0.36px;
  display: flex;
  flex-direction: column;
  white-space: pre-wrap;
  margin-top: 40px;

  @media (max-width: 768px) {
    font-size: 14px;
  }
}
