.ListTitle {
  background: var(--primary, linear-gradient(134deg, #bc3cd8 0%, #c54b8c 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Work Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  display: flex;
  align-items: flex-start;
}

.experiences {
  width: 100%;
}

.ExperiencesContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 162px;
}

.ExperienceContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ExperiencePhoto {
  width: 521px;
  height: 321px;
  border-radius: 16px;
  background: lightgray -103.538px -32.93px / 121.42% 114.49% no-repeat;

  @media (max-width: 1200px) {
    width: 441px;
    height: 334px;
  }

  @media (max-width: 992px) {
    width: 401px;
    height: 304px;
  }

  @media (max-width: 768px) {
    width: 300px;
    height: 284px;
  }

  @media (max-width: 320px) {
    width: 251px;
    height: 154px;
  }
}

.ExperienceText {
  display: flex;
  max-width: 446px;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 16px;

  @media (max-width: 1200px) {
    max-width: 346px;
  }

  @media (max-width: 992px) {
    max-width: 300px;
  }

  @media (max-width: 768px) {
    min-width: 100%;
  }

  @media (max-width: 320px) {
    max-width: 246px;
  }
}

.NameText {
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 27px */
  letter-spacing: 0.72px;
  text-transform: uppercase;
  background: var(--primary, linear-gradient(134deg, #bc3cd8 0%, #c54b8c 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 329px;
}

.DescriptionText {
  color: #000;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 19.8px */
  letter-spacing: -0.36px;
}

.ExperienceButton {
  cursor: pointer;
  width: 200px;
  height: 55px;
  border-radius: 40px;
  background-color: transparent;
  border: 3px solid#bc3cd8;
}

.ButtonText {
  color: #000;
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 20px */
  letter-spacing: -0.4px;
}

.LeftPart {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
}
