.HomeMainContentWrapper {
  position: 'relative';
  height: 100vh;
  height: calc(100vh - 86px);
}

.Title {
  display: flex;
  margin: 12.875rem 0 12.875rem 0;
  align-items: flex-start;
  flex-direction: column;
  align-items: center;
  text-align: center;

  font-family: Work Sans;
  font-size: 85px;
  font-weight: 300;
  line-height: 124%;
  letter-spacing: -1.7px;

  @media (max-width: 1200px) {
    font-size: 54px;
    margin: 9.5rem 0 9.5rem 0;
  }

  @media (max-width: 768px) {
    font-size: 32px;
  }

  @media (max-width: 320px) {
    margin: 6.125rem 0 6.125rem 0;
  }
}

.Title1st {
  color: #333333;
  text-align: center;
  font-style: normal;
  font-weight: 300;
}

.Title2nd {
  background: var(--primary, linear-gradient(134deg, #bc3cd8 0%, #c54b8c 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: normal;
  font-weight: 600;
  margin-top: 0.625rem;
}

.Arrow {
  cursor: pointer;
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 20px;
  left: calc(50% - 10px);
  z-index: 1;
}

.CVContainer {
  display: flex;
  padding: 5rem 6.875rem 7.5rem 6.875rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 97px;

  @media (max-width: 992px) {
    padding: 2.5rem 2.5rem 5rem 2.5rem;
  }

  @media (max-width: 768px) {
    padding: 1.25rem 1.875rem 3.125rem 1.875rem;
  }

  @media (max-width: 320px) {
    padding: 0.625rem 1.25rem 0.625rem 0.938rem;
  }
}
