.HomeMainContentWrapper {
  position: 'relative';
  height: 100vh;
  height: calc(100vh - 86px);
}

.Title {
  display: flex;
  margin: 206px 0 206px 0;
  align-items: flex-start;
  flex-direction: column;
  align-items: center;
  text-align: center;

  font-family: Work Sans;
  font-size: 85px;
  font-weight: 300;
  line-height: 124%;
  letter-spacing: -1.7px;

  @media (max-width: 1200px) {
    font-size: 54px;
    margin: 152px 0 152px 0;
  }

  @media (max-width: 768px) {
    font-size: 32px;
  }

  @media (max-width: 320px) {
    margin: 98px 0 98px 0;
  }
}

.Title1st {
  color: #333333;
  text-align: center;
  font-style: normal;
  font-weight: 300;
}

.Title2nd {
  background: var(--primary, linear-gradient(134deg, #bc3cd8 0%, #c54b8c 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: normal;
  font-weight: 600;
  margin-top: 10px;
}

.Arrow {
  cursor: pointer;
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 20px;
  left: calc(50% - 10px);
  z-index: 1;
}

.CVContainer {
  display: flex;
  padding: 80px 110px 120px 110px;
  flex-direction: column;
  align-items: flex-start;
  gap: 97px;

  @media (max-width: 992px) {
    padding: 40px 40px 80px 40px;
  }

  @media (max-width: 768px) {
    padding: 20px 30px 50px 30px;
  }

  @media (max-width: 320px) {
    padding: 10px 20px 10px 15.008px;
  }
}
