.navigation {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 86px;
}

.svgContainer {
  width: 79.515px;
  height: 32px;
  padding: 27px 0 2.313rem 7rem;
}

.navItems {
  display: flex;
  margin: 0.938rem 7rem 1.5rem 0;
  align-items: flex-start;
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333333;
  text-decoration: none;
  font-family: Work Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  text-transform: uppercase;
  margin: 0 32px 0 32px;
  @media (max-width: 768px) {
    font-size: 18px;
  }
}

.link:hover {
  color: #c54b8c;
}
